.c{
    background: whitesmoke;
}
div{
    border: 1px solid gray;
    width: 25%;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    color: white;
}
h2{
    display: inline-block;
    padding: 35%;
    padding-top: 0%;
    padding-bottom: 0%;
    border: 1px solid black;
    text-align: center;
    color: white;
    border-radius: 10px;
    background: linear-gradient(90deg,red,black);
    width: 35%;
    text-align: center;
}
p{
    text-align: justify;
    color: burlywood;
}