.c1{
    background: linear-gradient(45deg,red,black);
}
#id1{
    background: linear-gradient(45deg,yellow,pink);
}
.c2{
    background: linear-gradient(45deg,green,orange);
}
.c1hover{
    width:30%;
    background: linear-gradient(45deg,blue,purple);
}
#id1:hover{
    background: linear-gradient(90deg,yellow,blue);
}
.c2:hover{
    display: none;
}
div{
    border: 1px solid gray;
    width: 25%;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    color: white;
}
h2{
    text-align: center;
}
p{
    text-align: justify;
}